<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <script src="https://kit.fontawesome.com/9ec67280ec.js" crossorigin="anonymous"></script>
    <link href='https://css.gg/dribbble.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='home.css') }}">
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="./index.css" /> -->

    <title>Document</title>
    <script type="text/javascript">
      function noenter() {
        return !(window.event && window.event.keyCode == 13); }
    </script>
  </head>

  <body>
    <div class="wrapper">
      <!--Top menu -->
      <div class="section">
        <div class="top_navbar">
          <div class="hamburger">
            <a href="#">
               <i class="fas fa-bars"></i>
            </a>
          </div>
          <h3 id="top">Be Sweet Like Honey</h3>
          <a href="http://127.0.0.1:5000/logout" class="btn btn-secondary btn-lg" style="height: 40px; margin:4px; margin-left: 665px;margin-top: 8px; margin-bottom: 8px;">
            <span class="glyphicon glyphicon-log-out"></span> Log out
          </a>
        </div>
      </div>
      <div class="sidebar">
        <!--profile image & text-->
        <div class="profile">
          <img src="{{ url_for('static',filename='HoneyComb.jpg') }}" alt="profilepic" />
          <h3 class="prof-name">{{ uname }}</h3>
        </div>
        <!--menu item-->
        <ul class="sidee">
          <li>
            <a href="#" class="active">
              <span class="icon"><i class="fa-solid fa-desktop"></i></span>
              <span class="item">NewsFeed</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="fa-solid fa-people-arrows-left-right"></i></span>
              <span class="item">Alumini</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
                <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"/>
              </svg></span>

              <span class="item">CP Wing</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="fa-solid fa-code"></i></span>
              <span class="item">SoftDev wing</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="fa-brands fa-linux"></i></span>
              <span class="item">InfoSec Wing</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="fas fa-cog"></i></span>
              <span class="item">ML Wing</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="bi bi-person-bounding-box"></i></span>
              <span class="item">UI/UX Wing</span>
            </a>
          </li>
          <li>
            <a href="#" id="crotonia-bar">
              <span class="icon"><i class="fas fa-pen-fancy"></i></span>
              <span class="item">Crotonia</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="fa-solid fa-masks-theater"></i></span>
              <span class="item">Goonj</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="fa-solid fa-camera"></i></span>
              <span class="item">After Dark</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="fa-solid fa-z"></i></span>
              <span class="item">Zypher</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="fas fa-guitar"></i></i></span>
              <span class="item">Estrella</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="gg-dribbble"></i></span>
              <span class="item">Eifer</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="fa-solid fa-people-arrows-left-right"></i></span>
              <span class="item">Students</span>
            </a>
          </li>
          <li>

        </ul>

      </div>
    </div>

    <div id="containner" class="container">
      <div id="chat">
        <ul id="messages"></ul>
        <form id="message-form" onkeypress="noenter()">
          <input id="message-input" type="text" />
          <button id="message-btn" type="submit">Send</button>
          <button>
        </form>
        <span>
        <input id="image" type="file">
        <label for="image">
          <i class="fa fa-paperclip fa-2x"></i>
          <span></span>
        </label>
        <!-- <i class="fa fa-times-circle remove"></i> -->
        <button id="image-btn" type="submit">Send2</button></span>
      </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>
    <script src="{{ url_for('static',filename='home.js') }}" type="module"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js" integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/BrowserFS/2.0.0/browserfs.js" integrity="sha512-3n3LJuXN2CDTF/87biXx288uEtlZpSCnhw9UGWwU1fReJCqM8vqzbMHHptgh6CCAZg+KSYVciVkivW5twgqpfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>
