{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="overlay" id="overlay">
    <div class="sign-in" id="sign-in">
      <h1>Welcome Back!</h1>
      <p>To keep connected with us please login with your personal info</p>
      <button class="switch-button" id="slide-right-button" >Sign In</button>
    </div>
    <div class="sign-up" id="sign-up">
      <h1>Hello, Friend!</h1>
      <p>Enter your personal details and start a journey with us</p>
      <button class="switch-button" id="slide-left-button">Sign Up</button>
    </div>
  </div>
  <div class="form">
    <div class="sign-in" id="sign-in-info">
      <h1>Sign In</h1>
      <p class="small">Use your email account:</p>
      <form id="sign-in-form" method="POST">
        <input type="email" placeholder="Email" name="email"  id="email"/>
        <input type="password" placeholder="Password" name="password1"/ id ="password1">
        <p class="forgot-password">Forgot your password?</p>
        <button class="control-button in" name="submitbutton" type="submit" value="sign-in">Sign In</button>
      </form>
    </div>
    <div class="sign-up" id="sign-up-info">
      <h1>Create Account</h1>
      <p class="small">Use your email for registration:</p>
      <form id="sign-up-form" method="POST">
        <input type="text" placeholder="Name" name="firstName"/>
        <input type="text" placeholder="User Name" name="username"/>
        <input type="number" placeholder="Year" name="year"/>
        <input type="email" placeholder="Email" name="email"/>
        <input type="password" placeholder="Password" name="password1"/>
        <input type="password" placeholder="Confirm Password" name="password2" />
        <button class="control-button up" name="submitbutton"  type="submit" value="signup">Sign Up</button>
      </form>
    </div>
  </div>

{% endblock %}